@font-face {
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-family: rbt;
}

* {
    font-family: rbt;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --color1: #f9f9f9;
    --color2: #ccc;
}

.site {
    display: flex;
}

.map {
    height: 100vh;
    width: 100%;
}

.info {
    width: 300px;
    overflow-y: scroll;
    position: relative;
    height: 100vh;
    justify-content:center;
}

h1 {
    width: fit-content;
    margin: 5px;
    color: var(--color2);
    font-size: 24px;
}

h3 {
    width: fit-content;
    margin: 5px;
    color: var(--color2);
    color: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 20px;
}

ul li {
    display: flex;
    align-items: center;
    padding: 3px;
    font-size: 12px;
    list-style: none;
}

ul li a {
    background-color: var(--color2);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-left: 3px;
}

@media screen and (max-width: 414px) {
    .site {
        flex-direction: column;
    }

    .map, .info {
        width: 100%;
    }

    .map {
        height: 50vh;
    }
}
